* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top; }

ul, ol {
  list-style: none; }

input {
  outline: none; }

body {
  font-size: 12px;
  line-height: 1.5;
  position: fixed;
  /*position must be absolute or fixed*/
  width: 100%;
  height: 100%;
  font-family: PingFang SC,-apple-system,Arial,Microsoft YaHei,Microsoft JhengHei,Helvetica Neue,sans-serif;
  counter-reset: listCounter; }

main {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 80vw;
  height: 100vh;
  margin: 0 10vw;
  padding: 30px 120px;
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 800px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white; }
