$mainBg: rgba(255,255,255, 0.2);
$mainLine: white;
$mainText: white;
$default: #535353;
$active: #4b79cf;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.overflow {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

input {
  outline: none;
}

body {
  font-size: 12px;
  line-height: 1.5;
  position: fixed;  /*position must be absolute or fixed*/
  width: 100%;
  height: 100%;
  font-family: PingFang SC,-apple-system,Arial,Microsoft YaHei,Microsoft JhengHei,Helvetica Neue,sans-serif;
  //background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
  //background-size:1000% 1000% ;
  //animation: AnimationName 23s ease infinite;
  counter-reset: listCounter;
}

//@keyframes AnimationName {
//  0%{background-position:0% 50%}
//  50%{background-position:100% 50%}
//  100%{background-position:0% 50%}
//}
//
main {
  background: $mainBg;
  position: absolute;
  width: 80vw;
  height: 100vh;
  margin: 0 10vw;
  padding: 30px 120px;
  color: white;
  //box-shadow: 0 7px 6px 2px rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  min-width: 800px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: $mainText;
}