* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top; }

ul, ol {
  list-style: none; }

input {
  outline: none; }

body {
  font-size: 12px;
  line-height: 1.5;
  position: fixed;
  /*position must be absolute or fixed*/
  width: 100%;
  height: 100%;
  font-family: PingFang SC,-apple-system,Arial,Microsoft YaHei,Microsoft JhengHei,Helvetica Neue,sans-serif;
  counter-reset: listCounter; }

main {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 80vw;
  height: 100vh;
  margin: 0 10vw;
  padding: 30px 120px;
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 800px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white; }

img {
  object-fit: cover; }

@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  background-color: #535353; }

main {
  padding: 0;
  width: 1400px;
  margin: 0 auto;
  position: relative; }
  main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1; }
  main .dist-wrap .needle {
    position: absolute;
    left: 160px;
    top: -90px;
    width: 188px;
    z-index: 2; }
  main .dist-wrap .dist-content {
    margin-top: 180px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative; }
    main .dist-wrap .dist-content .dist-img {
      position: absolute;
      left: -30px;
      top: -180px;
      height: 100vh;
      width: 100vw;
      filter: blur(10px);
      background-size: cover; }
    main .dist-wrap .dist-content .ring {
      width: 450px;
      z-index: 1; }
    main .dist-wrap .dist-content .light {
      position: absolute;
      width: 450px;
      z-index: 1; }
    main .dist-wrap .dist-content .song-cover {
      width: 290px;
      height: 290px;
      position: absolute;
      left: 84px;
      animation: circle 20s infinite linear;
      animation-play-state: paused; }
    main .dist-wrap .dist-content .icon-17 {
      color: white;
      position: absolute;
      font-size: 120px;
      z-index: 6;
      left: 162px;
      cursor: pointer; }
    main .dist-wrap .dist-content .song-info {
      top: 0;
      position: absolute;
      left: 500px;
      font-size: 14px;
      width: 40vw; }
      main .dist-wrap .dist-content .song-info p {
        margin-bottom: 15px;
        text-align: center; }
      main .dist-wrap .dist-content .song-info .name {
        font-size: 20px; }
      main .dist-wrap .dist-content .song-info .lyrics {
        font-size: 20px;
        max-height: 50vh;
        overflow: scroll; }
        main .dist-wrap .dist-content .song-info .lyrics p {
          margin: 0;
          color: #535353;
          font-size: 16px; }
        main .dist-wrap .dist-content .song-info .lyrics .active {
          color: white;
          font-size: 18px; }
  main .running .song-cover {
    animation-play-state: running !important; }
